name: Publish

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: Build docker image
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Extract version from tag
        id: vars
        run: echo "version=$(echo ${{ github.ref }} | sed 's|refs/tags/v||')" >> $GITHUB_OUTPUT

      - uses: google-github-actions/auth@v3
        id: auth
        with:
          token_format: access_token
          workload_identity_provider: '${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}'
          service_account: '${{ secrets.GCP_SERVICE_ACCOUNT }}'
          access_token_lifetime: 500s

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: '${{ secrets.GCP_REGION }}-docker.pkg.dev'
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: server/Dockerfile
          push: true
          tags: |
            ${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_GAR_REPOSITORY }}/${{ secrets.GCP_GAR_PACKAGE }}:${{ steps.vars.outputs.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=min
          provenance: false
